<!DOCTYPE html>
<html>
  <head>
    <title>Kfupmers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Signed in as <%= current_user.email %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>

  <% flash.each do |key, value| %>
    <div class="container-fluid alert alert-info -<%= key %>">
      <div class="container">
        <%= value %>
      </div>
    </div>
  <% end %>



    <%= yield %>
  </body>
</html>
